.welcome-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1.8em;
  font-weight: lighter;
  background-image: linear-gradient(to left bottom, #055292 0%, #0f325a 60%);

  .welcome-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 60px;
    height: 100vh;
  }

  .welcome-title {
    font-size: 1.2em;
    margin-bottom: 12px;
  }

  .welcome-title-subtitle {
    font-size: 1.4em;
  }
}
