<div style="height: 100vh;" class="main-container">
  <!-- rgb(53, 141, 224) -->
  <div class="top-banner"></div>

  <div class="header-container flex-center-align">
    <div class="header-content">

      <button (click)="selectPreferredCity()" [disabled]='!isDataLoaded' mat-icon-button
        aria-label="Select your preferred city" style="margin-right: 6px;">
        <mat-icon>grain</mat-icon>
      </button>

      <button (click)="refreshData()" [disabled]='!isDataLoaded' mat-mini-fab aria-label="Show or hide Graph"
        style="margin-right: 6px;">
        <mat-icon>refresh</mat-icon>
      </button>

    </div>
    <div class="header-content logo-content">
      <mat-icon>timeline</mat-icon>
      <span> COVID REPORT</span>

    </div>
  </div>

  <div class="guest-info">
    <div class="guest-info-subtext">Last updated on 29-apr-2020</div>
    <div class="guest-info-text">Hello, {{guestName}}</div>
  </div>

  <div class="house-of-cards">
    <div class="house-card">
      <app-show-spinner></app-show-spinner>
      <div class="house-card-body" *ngIf="isDataLoaded">
        <mat-icon>bar_chart</mat-icon>
        <div class="house-card-title">CONFIRMED</div>
        <div class="house-card-desc">{{helper.formatCount(totalStatistics.confirmed)}}</div>
      </div>

    </div>
    <div class="house-card">
      <app-show-spinner></app-show-spinner>
      <div class="house-card-body" *ngIf="isDataLoaded">
        <mat-icon>trending_up</mat-icon>
        <div class="house-card-title">ACTIVE</div>
        <div class="house-card-desc">{{helper.formatCount(totalStatistics.active)}}</div>
      </div>
    </div>
    <div class="house-card">
      <app-show-spinner></app-show-spinner>
      <div class="house-card-body" *ngIf="isDataLoaded">
        <mat-icon>favorite</mat-icon>

        <div class="house-card-title">RECOVERED</div>
        <div class="house-card-desc">{{helper.formatCount(totalStatistics.recovered)}}</div>
      </div>
    </div>
    <div class="house-card">
      <app-show-spinner></app-show-spinner>
      <div class="house-card-body" *ngIf="isDataLoaded">
        <mat-icon>airline_seat_flat</mat-icon>
        <div class="house-card-title">DEATHS</div>
        <div class="house-card-desc">{{helper.formatCount(totalStatistics.deaths)}}</div>
      </div>
    </div>
  </div>

  <app-show-spinner *ngIf="!isDataLoaded"></app-show-spinner>

<ng-template #cityContainer>
  <app-preferred-city></app-preferred-city>
</ng-template>



  <div *ngIf="isDataLoaded">
    <!-- <mat-table matSort matSortActive="active" (matSortChange)="sortData($event)" [dataSource]="stateWiseDataSource" style="width: 100%;"> -->
    <mat-table [dataSource]="stateWiseDataSource" style="width: 100%;">

      <ng-container matColumnDef="state" sticky>
        <mat-header-cell *matHeaderCellDef style="font-size: 1.2em;">STATE</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!element.expanded">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="element.expanded">keyboard_arrow_down</mat-icon>
          {{element.state}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="confirmed">
        <mat-header-cell *matHeaderCellDef style="font-size: 1.2em;">
          <mat-icon>bar_chart</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{helper.formatCount(element.confirmed)}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef style="font-size: 1.2em;">
          <mat-icon>trending_up</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{helper.formatCount(element.active)}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="recovered">
        <mat-header-cell *matHeaderCellDef style="font-size: 1.2em;">
          <mat-icon>favorite</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{helper.formatCount(element.recovered)}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deaths">
        <mat-header-cell *matHeaderCellDef style="font-size: 1.2em;">
          <mat-icon>airline_seat_flat</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{helper.formatCount(element.deaths)}} </mat-cell>
      </ng-container>
      <mat-row mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-row>

      <mat-row #stateRow mat-row *matRowDef="let row;let i=index; columns: columnsToDisplay;"
        (click)="onRowTouch(i,row,stateRow)">
      </mat-row>
    </mat-table>
  </div>
</div>
