<div class="chart-container" >
    <div class="canvas-chart-for-mobile" >
      <canvas height="2" width="3" baseChart
      maintainAspectRatio='true'
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"></canvas>
    </div>
    
    <div class="canvas-chart-for-desktop" >

    <canvas class="canvas-chart-for-desktop" height="1" width="3" baseChart
    maintainAspectRatio='true'
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"></canvas>
    </div>
</div>