<div *ngIf="isDataLoaded">

  <div class="matchart-container">
    <mat-card class="charts">
      <div class="chart-container">
        <div class="canvas-chart-for-mobile">
          <canvas [colors]="pieChartColors" baseChart maintainAspectRatio='true' [data]="doughnutChartData"
            [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
    
        <div class="canvas-chart-for-desktop">
    
          <canvas [colors]="pieChartColors" baseChart width="600" height="400" [data]="doughnutChartData"
            [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
    
     
    
    
      </div>
      <div class="chart-labels">
        <mat-card class="info-strip" color='primary'>
          <div class="title">Confirmed</div>
          <div class="count">{{totalStatistics.confirmed}}</div>
        </mat-card>
    
        <mat-card class="info-strip" color='primary'>
          <div class="title">Active</div>
          <div class="count">{{totalStatistics.active}}</div>
        </mat-card>
    
        <mat-card class="info-strip" color='primary'>
          <div class="title">Recovered</div>
          <div class="count">{{totalStatistics.recovered}}</div>
        </mat-card>
    
        <mat-card class="info-strip" color='primary'>
          <div class="title">Deaths</div>
          <div class="count">{{totalStatistics.deaths}}</div>
        </mat-card>
      </div>
    </mat-card>
  </div>

  <div class="page-content">
    <mat-table [dataSource]="stateWiseDataSource"  style="width: 100%;">

      <ng-container matColumnDef="state" sticky>
        <mat-header-cell *matHeaderCellDef style="width: 20%;">State</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="confirmed">
        <mat-header-cell *matHeaderCellDef>Confirmed</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.confirmed}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.active}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="recovered">
        <mat-header-cell *matHeaderCellDef>Recovered</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.recovered}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deaths">
        <mat-header-cell *matHeaderCellDef>Deceased</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.deaths}} </mat-cell>
      </ng-container>
      <mat-row mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-row>
      <mat-row mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>

  </div>
</div>
