<div *ngIf="isDataLoaded">

  <div class="card charts">
    <div class="card-body">


      <div class="row">
        <div class="col-sm-12 col-md-8" style="min-height: 300px;">
          <ngb-carousel style="outline: none;">
                <ng-template ngbSlide>
                  <canvas class="d-md-none" height="350" [colors]="pieChartColors" baseChart  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                </canvas>  
                <canvas  class="d-none d-lg-block" [colors]="pieChartColors" baseChart  [data]="doughnutChartData"
                [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
              </canvas> 
                </ng-template>
                <ng-template ngbSlide>
                  <app-line-chart  [month]='false' [dataSource]='dataSource'></app-line-chart> 
                </ng-template>
                
                </ngb-carousel>

        </div>
        <div class="col-sm-12 col-md-4" style="display: flex;align-items: center;justify-content: center;">
          <div class="chart-labels">
            <div class="info-strip card">
              <div class="card-body">
                <div class="title">Confirmed</div>
                <div class="count">{{totalStatistics.confirmed}}</div>
              </div>
            </div>

            <div class="info-strip card">
              <div class="card-body">
                <div class="title">Active</div>
                <div class="count">{{totalStatistics.active}}</div>
              </div>
            </div>

            <div class="info-strip card">
              <div class="card-body">
                <div class="title">Recovered</div>
                <div class="count">{{totalStatistics.recovered}}</div>
              </div>
            </div>

            <div class="info-strip card">
              <div class="card-body">
                <div class="title">Deaths</div>
                <div class="count">{{totalStatistics.deaths}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <mat-table [dataSource]="stateWiseDataSource" style="width: 100%;">

      <ng-container matColumnDef="state" sticky>
        <mat-header-cell *matHeaderCellDef >STATE</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="confirmed">
        <mat-header-cell *matHeaderCellDef>CNFRD</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.confirmed}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef>ACT</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.active}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="recovered">
        <mat-header-cell *matHeaderCellDef>RCRD</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.recovered}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deaths">
        <mat-header-cell *matHeaderCellDef>DCSD</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.deaths}} </mat-cell>
      </ng-container>
      <mat-row mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-row>
      <mat-row mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>

  </div>

</div>
