
.page-content{
    background-color: #ffffff;
    padding: 4px;
    min-height: 85vh;
    border-radius: 6px;
    box-shadow:2px 3px 2px rgba(5, 5, 5, 0.1);
}
.advance-pie{
        line-height: 35px !important;
    
}
.carousel-control-next-icon{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238D1BA7' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.mat-column-state{
    flex: 0 0 45%;
}
.mat-column-confirmed{
    flex: 0 0 15%;
}
.mat-column-active{
    flex: 0 0 14%;
}
.mat-column-recovered{
    flex: 0 0 14%;
}
.mat-column-deaths{
    flex: 0 0 12%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
