nav{
  justify-content: center;
  background: #ffffff;
height: 70px;
margin-bottom: 12px;
box-shadow: 0 0px 4px #999;
  .title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.8em;
    color: #555;
    // text-shadow: 4px 3px 4px #444;
  }
}
